
  /* CSS for screens with a width of 992px or less */
  @media (max-width: 992px) {
    header {
      width: 100rem;
      
    }

    .headContainer{
      display: flex;
      justify-content: space-evenly!important;
    }
    .content img{
      width: 18rem;
      margin: 0 !important;
    }
  
    .content {
      text-align: center;
    }
    .content h1 {
      padding-top: 0;
      margin-top: 0;
      font-size: 3rem;
    }
    .content button {
      margin-left: auto;
      margin-right: auto;
    }
    .contentRight {
      display: none;
    }
    
    section{
      background-color: #12FF46;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 1.875rem;
      flex-direction: column !important;
    }
    

    .image5{
      
      clip-path: none;
      width: 30rem;
    }

    .sectiontextRight{
      margin: 0px !important;
    }
    .sectiontextRight > h1{
      text-align: center;
     
    } 
    .sectiontextRight > p{
      text-align: center;
      
    }
    #sectionFeedBack > h1 {
      justify-content: flex-start;
      text-align: left;
      font-family: 'DM Sans', sans-serif;
      display: flex;
  }
  }
  
  /* CSS for screens with a width of 768px or less */
  @media (max-width: 768px) {
    header {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    }
   .imageList{
    display: none;
   }
  }
  
  /* CSS for screens with a width of 576px or less */
  @media (max-width: 576px) {
    header {
      height: 20rem;
    }
    .content img {
      width: 6rem;
    }
    .content h1 {
      font-size: 2rem;
    }
    .content button {
      width: 16rem;
    }
    .image1 {
      top: 4rem;
      right: -4rem;
      width: 14rem;
    }
    .image3 {
      top: 10rem;
      right: -2rem;
      width: 6rem;
    }
    .image4 {
      top: 14rem;
      right: -4rem;
      width: 12rem;
    }
    .image5 {
      width: 16rem;
    }
    .sectiontextRight {
      margin-right: 0;
      margin-bottom: 2rem;
    }

    .cardLabel {
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    }
    .card{
      width: 100% !important;
    }
    #sectionCards > h3 {
    
    padding: 0rem !important;
    
    }
  }
  